.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 402px;
  height: 402px;
  margin: 0 auto;
  margin-bottom: 40px
}

.slide {
  width: 402px;
  height: 402px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 30px;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  align-items: flex-start;
 
}

.sliderContent h2 {
  margin: 26px 0;
}
.sliderContent p {
  margin: 0;
  margin-bottom: 28px;
}

/* normal css  */


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}



.btns .btn {
  cursor: pointer;
}

.btns .btn:last-child {
  margin-left: 40px;
}

/* normal css  */
